:root {
  --main-color: #ff9800;
}

.container {
  padding: 0 15px;
  margin: auto;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 5000px;overflow: hidden;
}
* {
  box-sizing: border-box;
}
.landing-page {
  min-height: 100vh;
  background-image: url(../img/bg-1.jpg);
  background-size: cover;
  position: relative;
  transition: 1s;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.747);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.head-area {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.head-area .logo {
  width: 300px;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  font-size: 20px;
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.head-area .links {
  list-style: none;
  padding: 0;
  text-align: right;
}

.head-area .links li {
  display: inline-block;
  text-transform: capitalize;
  font-size: 18px;
  margin-left: 10px;
}
.head-area .links li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.head-area .links li a:hover,
.head-area .links li a.active {
  color: var(--main-color);
}

.head-area .toggle-menu {
  background-color: transparent;
  border: none;
  width: 60px;
  cursor: pointer;
  display: none;
  position: relative;
}

.head-area .toggle-menu span {
  width: 100%;
  height: 4px;
  display: block;
  background-color: #fff;
  margin: 5px 0;
}

.head-area .toggle-menu.active-menu::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}

.introduction-text {
  position: absolute;
  z-index: 1;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.introduction-text h1 {
  font-size: 35px;
  margin: 0 0 15px 0;
}

.introduction-text h1 span {
  color: var(--main-color);
}
.introduction-text p {
  line-height: 2;
  font-size: 20px;
  margin: 0;
}

.settings-box {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  width: 200px;
  min-height: 100vh;
  left: -200px;
  transition: 0.7s;
  padding: 15px;
  box-shadow: -7px -19px 12px 0px;
}

.settings-box.open {
  left: 0;
}
.settings-box .gearIcon {
  position: absolute;
  right: -30px;
  top: 200px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.settings-box .gearIcon i {
  width: 30px;
  padding: 8px 0;
}
.settings-box .option-box {
  background-color: #eee;
  text-align: center;
  padding: 10px;

  margin-top: 10px;
}
.settings-box .option-box h4 {
  color: #888;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.settings-box .option-box ul {
  list-style: none;
  margin: 13px 0 5px;
  padding: 0;
  text-align: center;
}

.settings-box .option-box ul li {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.4;
  border: 3px solid #eee;
}

.settings-box .option-box ul li.active {
  opacity: 1;
  border: 3px solid #fff;
}

.settings-box .option-box ul li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box ul li:nth-child(2) {
  background-color: #00bcd4;
}
.settings-box .option-box ul li:nth-child(3) {
  background-color: #9c27b0;
}
.settings-box .option-box ul li:nth-child(4) {
  background-color: #e91e63;
}
.settings-box .option-box ul li:nth-child(5) {
  background-color: #009688;
}

.option-box .random-background,
.option-box .show-bullets {
  margin-top: 9px;
}

.option-box .yes,
.option-box .no {
  width: 50px;
  background-color: var(--main-color);
  display: inline-block;
  color: #fff;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.5;
}

.option-box span.active {
  opacity: 1;
}

.about {
  display: flex;
  align-items: center;
}

.about .about-info {
  flex: 1;
}

.about .about-info h4 {
  color: var(--main-color);
  font-size: 35px;
  margin: 0;
}

.about .about-info p {
  color: #676767;
  font-size: 18px;
  margin: 0;
  line-height: 1.7;
  margin-top: 15px;
}

.about .about-img {
  flex: 1;
  text-align: center;
}

.about .about-img svg {
  width: 400px;
}

.skills {
  background-color: #eee;
  padding: 50px 0;
}

.skills h2 {
  color: var(--main-color);
  text-align: center;
  padding: 0 0 20px;
  font-size: 35px;
}

.skills .skill-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.skills .skill-box .skill-name {
  width: 140px;
  text-align: center;
}

.skills .skill-box .skill-progress {
  width: calc(100% - 140px);
  height: 30px;
  background-color: #f6f6f6;
  border-radius: 8px;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  display: inline-block;
  width: 0;
  height: 30px;
  background-color: var(--main-color);
  transition: 1s;
}

.gallery {
  padding: 50px 0;
}

.gallery h2 {
  color: var(--main-color);
  text-align: center;
  padding: 0 0 20px;
  font-size: 35px;
}

.gallery .img-box {
  text-align: center;
}

.gallery .img-box img {
  width: 200px;
  padding: 5px;
  border: 1px solid#ccc;
  margin: 3px;
  cursor: pointer;
  background-color: #eee;
}

.light-box-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBox {
  width: 50%;
  min-height: 50%;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  position: relative;
}
.imgBox img {
  width: 100%;
  height: 100%;
}

.imgBox .img-title {
  text-align: center;
  color: var(--main-color);
  text-transform: capitalize;
  margin: 0 0 10px 0;
  padding: 15px 0;
}
.imgBox .close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  top: -20px;
  right: -20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.timeline {
  background-color: #eee;
  padding: 50px 0;
}

.timeline-content {
  overflow: hidden;
  position: relative;
}

.timeline-content::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}
.timeline-content .year {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin: 20px auto;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.timeline-content .left,
.timeline-content .right {
  margin-bottom: 20px;
  padding: 20px;
  width: calc(50% - 25px);
  background-color: #fff;
  position: relative;
  transition: 1s all;
}
.timeline-content .left {
  float: left;
  left: -100vw;
}

.timeline-content .right {
  float: right;
  left: 100vw;
}

.timeline-content .left.move {
  left: 0;
}
.timeline-content .right.move {
  left: 0;
}

.timeline-content .left h3,
.timeline-content .right h3 {
  color: var(--main-color);
  margin: 0 0 10px 0;
}
.timeline-content .left p,
.timeline-content .right p {
  color: #777;
  line-height: 1.7;
}

.timeline-content .left::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  right: -35px;
  top: 20px;
}

.timeline-content .left::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  top: 20px;
  right: -20px;
}

.timeline-content .right::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  left: -35px;
  top: 20px;
}

.timeline-content .right::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  top: 20px;
  left: -20px;
}

.clear-fix {
  clear: both;
}

.our-features {
  padding: 80px 0;
}

.our-features h2 {
  color: var(--main-color);
  text-align: center;
  padding: 0 0 20px;
  font-size: 35px;
  padding-bottom: 0;
}

.features {
  overflow: hidden;
}

.features .feat-box {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  margin: 20px 0;
}

.features .feat-box h3 {
  padding: 0 0 20px 0;
  position: relative;
}

.features .feat-box h3::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: var(--main-color);
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.features .feat-box p {
  width: 80%;
  margin: auto;
  color: #888;
  line-height: 1.7;
}

.features .feat-box img {
  width: 96px;
}

.testimonials {
  position: relative;
  padding: 80px 0;
}

.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  height: 100%;
}

.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #333333;
  top: 0;
  right: 0;
  height: 100%;
}

.testimonials h3 {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
}
.testimonials .ts-box {
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  background-color: #fff;
  padding: 15px;
  float: left;
  margin-top: 15px;
}
.testimonials .ts-box:first-of-type,
.testimonials .ts-box:nth-of-type(2) {
  margin-right: 1%;
}

.testimonials .ts-box > p {
  color: #888;
  line-height: 1.6;
  font-size: 15px;
  font-style: italic;
}

.testimonials .ts-box .ts-info {
  display: flex;
  align-items: center;
}
.testimonials .ts-box .ts-info img {
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonials .ts-box .ts-info h4 {
  margin: 0 0 6px 0;
}
.testimonials .ts-box .ts-info p {
  font-size: 12px;
  margin: 0;
  color: #888;
}

.bullets-box {
  width: 50px;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 50%;

  transform: translateY(-50%);
}

.bullets-box .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  margin: 15px auto;
  cursor: pointer;
  position: relative;
}

.bullets-box .bullet div {
  background-color: var(--main-color);
  color: #fff;
  position: absolute;
  right: 30px;
  top: -6px;
  width: 120px;
  padding: 5px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}

.bullets-box .bullet div::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}
.bullets-box .bullet:hover div {
  display: block;
}

.settings-box .reset-option {
  background-color: tomato;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.contact {
  background-image: url(../img/contact.png);
  background-size: cover;
  background-position: center;

  position: relative;
  padding: 60px 0;
}
.contact h2 {
  color: var(--main-color);
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
  padding-bottom: 0;
}

.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact form {
  max-width: 800px;
  margin: 40px auto;
  overflow: hidden;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  border: 1px solid#ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.contact form input:not([type="submit"]),
.contact form textarea {
  background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  border: 1px solid var(--main-color);
  outline: none;
}
.contact form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}

.contact form input {
  height: 40px;
}

.contact form textarea {
  height: 150px;
}

.contact form .left {
  width: 49%;
  float: left;
}

.contact form .right {
  width: 49%;
  float: right;
}

/* ------------------- */

/* ------------------- */
.footer {
  background-color: #333;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #fff;
}

.headroom--top {
  background-color: transparent;
}

.headroom {
  z-index: 5000;
  width: 100%;
  position: fixed;
  z-index: 500;
  max-width: 100%;
  background-color: #131313;
  transition: 0.5s;
}
.headroom--pinned {
  transform: translateY(0);
}
.headroom--unpinned {
  transform: translateY(-100px);
}

.headroom--top {
  background-color: transparent;
}

.fa-heart {
  color: rgb(190, 7, 7);
}



.loadingPage {
  position: fixed;
  inset: 0;
  background-color: #263038;
  z-index: 99999;display: flex;justify-content: center;align-items: center;
}


/* -------------*/
.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    
/* -------------*/